{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Kider - About Us</title>{% endblock %}

{% block content %}

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">{{ about.h1 }}</h1>
                <p>{{ about.desc }}</p>
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            {% if about.img_user %}
                                <img class="rounded-circle flex-shrink-0" src={{ about.img_user.url }} alt="{{ about.h1 }}" style="width: 45px; height: 45px;">
                            {% else %}
                                <img class="rounded-circle flex-shrink-0" src="{% static 'img/about-1.jpg' %}" alt="{{ about.h1 }}" style="width: 45px; height: 45px;">
                            {% endif %}
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">{{ about.user }}</h6>
                                <small>{{ about.pos_user }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src={{ about.img_1.url }} alt="{{ about.h1 }}">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src={{ about.img_2.url }} alt="{{ about.h1 }}">
                    </div>
                    <div class="col-6 text-end" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src={{ about.img_3.url }} alt="{{ about.h1 }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% include 'team.html' %}

{% endblock %}