{% load static %}
<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Make Appointment</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        {{ make_appointment.name }}
                                        <label for="name">Gurdian Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        {{ make_appointment.email }}
                                        <label for="name">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        {{ make_appointment.child_name }}
                                        <label for="name">Child Name</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        {{ make_appointment.child_age }}
                                        <label for="name">Child Age</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ make_appointment.message }}
                                        <label for="name">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src='{% static "img/appointment.jpg" %}' style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->