{% load static %}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        {% for slide in slider %}
            <div class="owl-carousel-item position-relative">
                <img src="{{ slide.image.url }}" onerror="this.onerror=null;this.src='{% static 'img/carousel-1.jpg' %}';" alt="{{ item.name }}">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown mb-4">{{ slide.h_1 }}</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">{{ slide.desc }}</p>
                                <a href="{% url 'about' %}" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">{{ slide.tab_1 }}</a>
                                <a href="{% url 'classes' %}" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">{{ slide.tab_2 }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
        <!-- Carousel End -->