{% load static %}

<!-- Testimonial
Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">{{ headlines.title_testimonial }}</h1>
            <p>{{ headlines.desc_testimonial }}</p>
        </div>

        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for item in testimonial %}
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">{{ item.desc }}</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ item.image.url }}" onerror="this.onerror=null;this.src='{% static 'img/testimonial-1.jpg' %}';" alt="{{ item.name }}" style="width: 90px; height: 90px;">

                        <div class="ps-3">
                            <h3 class="mb-1">{{ item.name }}</h3>
                            <span>{{ item.profession }}</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End -->